* {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("14-90048-132_fon_gras_grin.jpg");
    background-size: 100%;
    padding: 20px 0;
}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h2{
    font-size: 32px;
    margin-bottom: 20px;
}

main p{
    font-size: 24px;
    color: rgb(84, 181, 84);
}

ul{
    margin-left: 35px;
    list-style-type: none;
}

i{
    font-size: 24px;
    padding: 5px 10px;
    color:rgb(0, 0, 0)
}

a{
    color: rgb(57, 203, 103);
}